<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Title</title>
</head>
<body>
<div class="container">

    <h1>Welcome</h1>

    <form action="addinvoice" th:action="@{addinvoice}" th:object="${invoice}" method="post">

        <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </div>
        <div class="form-group">
            <label for="dueDate" class="control-label">Due Date</label>
            <input class="form-control" type="text" id="dueDate" placeholder="Due Date"/>
            <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}">Due Date Error</span>
        </div>
        <div class="form-group">
            <label for="amount" class="control-label">Amount</label>
            <input class="form-control" type="text" th:field="*{amount}" id="amount" placeholder="Amount"/>
            <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</span>
        </div>
        <div class="form-group">
            <label for="interval" class="control-label">Interval</label>
            <input class="form-control" type="text" th:field="*{interval}" id="interval" placeholder="Interval"/>
            <span th:if="${#fields.hasErrors('interval')}" th:errors="*{interval}">Interval Error</span>
        </div>

        <div id="paymentType" class="radio">
            <label><input type="radio" name="paymentType" value="DIRECTDEBIT" th:field="*{paymentType}"/>Direct Debit</label>
            <label><input type="radio" name="paymentType" value="INVOICE" th:field="*{paymentType}"/>Invoice</label>
            <span th:if="${#fields.hasErrors('paymentType')}" th:errors="*{paymentType}">Payment type Error</span>
        </div>

        <input type="submit"/>
        <!--<p th:text="*{paymentType.toString}"/>-->
    </form>

</div>
</body>
</html>