<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="js/header.js"></script>
    <title>Register new user</title>
</head>
<body>
<header class="header page-header"></header>

<div class="container indexform">
    <div class="col-md-12" th:object="${users}">
        <h1>Register New User</h1>
        <form action="adduser" method="POST">
            <div class="form-group"><input type="text" class="form-control" placeholder="Enter username" name="username"/></div>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Enter a username</span>
            <div class="form-group"><input type="password" class="form-control" placeholder="Enter password" name="password"/></div>
            <div><input type="submit" class="btn btn-success" value="Create user"/>
                <a href=".." class="btn btn-default pull-right">Back</a>
            </div>
        </form>
        <div th:text="${addUserMessage}"></div>
    </div>

</div>


</body>
</html>