<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="js/header.js"></script>
    <title>Startpage</title>
</head>
<body>
<header class="header page-header"></header>
<main>

    <div class="container">
        <div class="col-md-12">
            <h1>Welcome!</h1>
            <div class="form-group indexform" th:object="${users}">
                <form action="login" method="POST" class="theForm form-inline">
                    <input type="text" class="form-control" placeholder="Användarnamn" name="username" required="required"/>
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Enter a username</span>
                    <input type="password" class="form-control" placeholder="Lösenord" name="password" required="required"/>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Enter a password</span>
                    <input type="submit" class="btn btn-success" value="Log In"/>
                </form>
                <div>
                    <form action="adduser" method="GET" >
                        <input type="submit" class="btn btn-default" value="Register new user"/>
                    </form>
                </div>

            </div>
            <div th:text="${loginMessage}"></div>
        </div>

    </div>
</main>
</body>
</html>