<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <title>Log in</title>

</head>
<body>
<div><a href="..">Back</a></div>

<form action="login" method="POST">
    <div><input placeholder="Enter username" name="username" /></div>
    <div><input placeholder="Enter password" name="password" /></div>
    <div><input type="submit" value="Log in"/></div>
</form>
<div th:text="${loginMessage}"></div>
</body>
</html>