<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="js/header.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Revision</title>
</head>
<body>
<header class="header page-header"></header>

    <div class="container">
        <div class="col-md-12">
            <h1>This month:</h1>
            <div id="invoices">
                <div th:if="${#lists.isEmpty(invoices)}">Add a new invoice to get started!</div>
                <form action="addinvoice" method="GET">
                    <button type="submit" class="btn btn-default">New Invoice</button>
                </form>
                <form action="listAll" method="GET">
                    <button type="submit" class="btn btn-default">My Invoices</button>
                </form>
            </div>

            <div th:if="${not #lists.isEmpty(invoices)}">
                <button type="button" class="btn btn-primary">More info</button>
                <form action="/markAsPaid" method="post" th:object="${invoicesToPay}">
                    <div class="list-group" th:each="invoice:${invoices}">
                        <div id="revisionlist" class="list-group-item">
                            <div id="nameandcheck">
                                <h3 class="list-group-item-heading" th:text="${invoice.name}"></h3>
                                <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox" th:field="*{invoicesToPay}" th:value="${invoice.invoiceid}"/>
                            </div>
                            <div class="collapse" th:text="'Amount: ' + ${invoice.amount} + '   ' + 'Due Date: ' + ${invoice.duedate} + '   ' + ${invoice.interval.getStringValue()} + '   ' + 'Last Paid: ' + ${invoice.lastpaid}"></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Mark As Paid</button>
                </form>
            </div>

       </div>

    </div>

    <script>
        $(document).ready(function () {
            $(".btn-primary").click(function () {
                $(".collapse").collapse('toggle');
            });
        });
    </script>
</body>
</html>