<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="js/header.js"></script>
    <title>Revision</title>
</head>
<header class="header page-header"></header>
<body>
<form action="addinvoice" method="GET">
    <input type="hidden" th:value="${userId}" name="userId" />
    <input type="submit" th:text="'Add Invoice'"/>
</form>
<h1>Latest Transactions:</h1>
    <div class="container">

        <div class="col-md-10">

            <form action="/markAsPaid" method="post" th:object="${invoicesToPay}">
                <div class="list-group" th:each="invoice:${invoices}">
                    <div class="list-group-item">
                        <input id="someSwitchOptionDefault" name="someSwitchOption001" th:field="*{invoicesToPay}" th:value="${invoice.invoiceid}" type="checkbox"/>
                        <h3 class="list-group-item-heading" th:text="${invoice.name}"></h3>
                        <p class="list-group-item-text" th:text="'Amount: ' + ${invoice.amount} + '   ' + 'Due Date: ' + ${invoice.duedate} + '   ' + ${invoice.interval.getStringValue()}"></p>
                    </div>
                </div>
                <input type="submit" text="Mark As Paid"/>

            </form>




            <!--<div class="list-group" data-toggle="items" th:each="invoice:${invoices}">-->
                <!--<a href="#" class="list-group-item">-->
                    <!--<h3 class="list-group-item-heading" th:text="${invoice.name}"></h3>-->
                    <!--<p class="list-group-item-text" th:text="'Amount: ' + ${invoice.amount} + '   ' + 'Due Date: ' + ${invoice.duedate} + '   ' + 'Every ' + ${invoice.interval} + '   ' + ' month'"></p>-->
                <!--</a>-->
            <!--</div>-->
       </div>

    </div>

</body>
</html>